
<html>
    <head>
        <meta name="mobile-web-app-capable" content="yes">
        <!-- https://developers.google.com/web/fundamentals/native-hardware/fullscreen/#launching_a_page_fullscreen_from_home_screen -->
    </head>
    <body>
        <a href="/nutrition">Nutrition</a>
    </body>
</html>