<html>

<body>
    <h1>Goal: 1900</h1>
    <h1>Current: 1200</h1>
    <h2> - Breakfast: 500</h2>
    <h2> - Lunch: 500</h2>

    <form action="/nutrition/addsource" method="post">
        <input name="name" type="text">
        <input name="calories" type="number">
        <input type="submit" value="OK">
    </form>

    <h2> Sources </h2>
    <% for( var i=0; i < nutrition.sources.length; i++){ %>
        <li>
            <button onclick="removeSource(<%= i %>)"> (Remove) </button>
            <%= nutrition.sources[i].name %>
        </li>
        <% } %>

            <script>
                
                function removeSource(id) {
                    const xhttp = new XMLHttpRequest();
                    xhttp.open("DELETE", `/nutrition/removesource/${id}`, true);
                    xhttp.onload = function () {
                        console.log("xhttp.onload")
                        location.reload();
                        // TODO: Handle errors in xhttp.responseText, if (xhttp.readyState == 4 && xhttp.status) success.
                    }
                    xhttp.send(null);
                }

            </script>
</body>

</html>