<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main">
        <h1>addsource</h1>
        <form action="/nutrition/sources/add" method="post">
            <input name="name" type="text">
            <input name="calories" type="number">
            <input type="submit" value="OK">
        </form>

        <h2> Daily Report </h2>

        <h2> Sources </h2>
        <% for( var i=0; i < sources.length; i++){ %>
            <li>
                <button onclick="removeSource('<%= sources[i].id %>')"> (Remove) </button>
                <%= sources[i].name %>, <%= sources[i].calories %>
                <button onclick="addSourceToReport('<%= sources[i].id  %>')"> (Add to report) </button>

            </li>
        <% } %>
    </div>

    <script>
        function removeSource(id) {
            const xhttp = new XMLHttpRequest();
            xhttp.open("DELETE", `/nutrition/sources/remove/${id}`, true);
            xhttp.onload = function () {
                console.log("xhttp.onload")
                location.reload();
                // TODO: Handle errors in xhttp.responseText, if (xhttp.readyState == 4 && xhttp.status) success.
            }
            xhttp.send(null);
        }
        
        function addSourceToReport(id) {
            const xhttp = new XMLHttpRequest();
            xhttp.open("PATCH", `/nutrition/sources/add/${id}`, true);
            xhttp.onload = function () {
                console.log("xhttp.onload")
                location.reload();
                // TODO: Handle errors in xhttp.responseText, if (xhttp.readyState == 4 && xhttp.status) success.
            }
            xhttp.send(null);
        }

        function removeSourceFromReport(id) {
            const xhttp = new XMLHttpRequest();
            xhttp.open("PATCH", `/nutrition/removesourcefromreport/${id}`, true);
            xhttp.onload = function () {
                console.log("xhttp.onload")
                location.reload();
                // TODO: Handle errors in xhttp.responseText, if (xhttp.readyState == 4 && xhttp.status) success.
            }
            xhttp.send(null);
        }
    </script>
</body>

</html>