<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/snippets.css">
</head>

<body>
    <div class="main">

        <input id="snippetSearch" class="search" onkeyup="OnSnippetSearchKeyUp()" placeholder="Search snippets"
            autocomplete="off">

        <ul id="snippetList" class="snippet-list">
            <% for( var i=0; i < snippets.length; i++){ %>
            <li class="snippet-card">
                <p style="display: inline;" contenteditable="true"><%= snippets[i].text %></p>
                <button onclick="removeSnippet('<%= snippets[i].id %>')">(x)</button>
            </li>
            <% } %>
        </ul>

        <textarea name="text" form="addsnippet"></textarea>
        <form action="/snippets/add" method="post" id="addsnippet">
            <input type="submit" value="OK">
        </form>
    </div>

    <script>
        function OnSnippetSearchKeyUp() {
            var snippetSearch = document.getElementById('snippetSearch');
            var snippetList = document.getElementById("snippetList");
            var snippetListItems = snippetList.getElementsByTagName('li');

            for (i = 0; i < snippetListItems.length; i++) {
                snippetText = snippetListItems[i].getElementsByTagName("p")[0].innerText;
                snippetListItems[i].style.display = snippetText.toUpperCase().indexOf(snippetSearch.value.toUpperCase()) > -1 ? "" : "none";
            }
        }

        function removeSnippet(id) {
            const xhttp = new XMLHttpRequest();
            xhttp.open("DELETE", `/nutrition/sources/remove/${id}`, true);
            xhttp.onload = function () {
                console.log("xhttp.onload")
                location.reload();
                // TODO: Handle errors in xhttp.responseText, if (xhttp.readyState == 4 && xhttp.status) success.
            }
            xhttp.send(null);
        }
    </script>
</body>

</html>